*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100dvh;
}
.container{
    position: relative;
    border: 1px solid #ffc451;
    width: 600px;
    height: 300px;
    align-items: center;
    margin: 30% 60%;    
}
.inputs{
    position: absolute;
    display: grid;
    margin: 10% 30%;
    
}
.inputs div{
    margin-top: 20px;
}
.Login{
    margin: auto 50%;
    margin-top: ;
}
