/* Ümumi stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://media.istockphoto.com/id/1193476717/photo/male-hands-making-a-to-do-list-in-a-notebook-over-an-office-desk.jpg?s=612x612&w=0&k=20&c=8DNkIq4K2W-AmeWes4436EDbjRwltEOUt3FIjY4ubVw=);
    background-size:cover ;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-line {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.add {
    background-color: #28a745;
    color: #fff;
}

button.add:hover {
    background-color: #218838;
}

button.delete {
    background-color: #dc3545;
    color: #fff;
}

button.delete:hover {
    background-color: #c82333;
}

ul.text-line {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul.text-line li {
    background-color: #f8f9fa;
    padding: 10px;
    max-height:10000px;
    max-width: 1000px;
    margin: 10PX;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

ul.text-line li button {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

ul.text-line li button:hover {
    background-color: #e0a800;
}
